html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.toolBtn {
  button {
    border: 1px solid #ced4da;
    background-color: #fff;
    padding-left: .5rem;
    padding-right: .5rem;
  }
}

.editor {
  border: 1px solid #ced4da;
  min-height: 250px;
}

.project-card {
  border: 1px solid #ced4da;
  min-height: 300px;
  border-radius: .375rem;
  position: relative;
  background-image: url('https://picsum.photos/500/400?random=1');
  background-repeat: no-repeat;
  background-size: cover;

  &-content {
    position: absolute;
    width: 50%;
    height: 80%;
    background-color: #fff;
    border-radius: .375rem;
    top: 10%;
    left: 3%;
  }
}