.profile {
    background-color: rgb(3, 87, 73);
    padding: 10px 15px;
    color: #fff;
    border-radius: .5rem;
    position: relative;

    &-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(7, 133, 112);
        border-radius: .5rem;
        background-image: url('../public/profile_bg.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border: 1px solid;

        .img {
            width: 150px;
            height: 150px;
            outline: solid;
            border-radius: 50%;
            background-color: rgb(128, 122, 122);
        }
    }

    &-body {
        h4 {
            border-bottom: 2px solid;
            padding-bottom: .75rem;
        }

        .info {
            list-style-type: none;
            padding: 0;

            li {
                display: flex;
                align-items: center;
                gap: .75rem;
                padding-top: .5rem;
                padding-bottom: .5rem;
            }
        }
    }

    &-footer {
        position: absolute;
        bottom: 10px;
        display: flex;

        div {
            position: absolute;
            top: -150px;
            padding: 3px 3px 20px 3px;
            outline: .5px solid rgb(185, 184, 184);

            &:first-child {
                transform: rotate(-35deg);
                z-index: 1;
                left: 10px;
            }

            &:nth-child(2) {
                transform: rotate(35deg);
                z-index: 2;
                left: 100px;
            }
            &:nth-child(3) {
                transform: rotate(-35deg);
                z-index: 1;
                left: 190px;
            }
            &:nth-child(4) {
                transform: rotate(35deg);
                z-index: 1;
                left: 280px;
            }
        }
    }
}

.skill {
    font-weight: bolder;
    display: flex;

    &-content {
        ul {
            list-style-type: square;

            li {
                padding: 5px;
            }
        }
    }
}