$main-color:rgb(3, 87, 73);

.main {
    min-height: 50vh;
    position: relative;
}

.work {

    .timeline-content {
        display: flex;
        position: relative;
        margin-bottom: 50px;
    }

    .content {
        position: relative;
        padding-left: 50px;
        padding-right: 50px;

        //橫線
        &::after {
            position: absolute;
            content: "";
            height: 8px;
            width: 105%;
            top: 100px;
            left: 0;
            background-color: $main-color;
            z-index: 1;
        }

        //圓點
        &::before {
            position: absolute;
            content: attr(data-index);
            text-align: center;
            color: $main-color;
            font-size: 20px;
            font-weight: bolder;
            height: 40px;
            width: 40px;
            background-color: #ffffff;
            border-radius: 50%;
            border: 5px solid $main-color;
            top: 85px;
            left: -25px;
            z-index: 2;
        }
    }

    .circle {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background: #fff;
        margin-top: 30px;
        border: 8px solid $main-color;
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .company-name {
        display: flex;
        justify-content: center;
        padding: 10px;
        margin-bottom: 100px;
        margin-left: auto;
        margin-right: auto;
        background: $main-color;
        border-radius: 7px;
        font-size: 20px;
        color: #fff;
        white-space: nowrap;
        font-weight: bolder;
    }

    .year {
        font-size: 24px;
        font-weight: bold;
        color: $main-color;
        white-space: nowrap;
    }

    .description {
        span {
            font-size: 16px;
            font-family: '微軟正黑體';
            text-align: justify;
            font-weight: bolder;
        }

        .job {
            li {
                padding: 5px 0;
            }
        }

        .project {
            list-style-type: square;
            font-size: 14px;
            color: rgb(93, 92, 92);
            font-weight: 900;
            li {
                padding: 5px 0;
            }
        }
    }
}